<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        {% endblock %}
</head>
<body>
    <header>
        <div class="gainXp_logo">
            <img src="{{ asset('img/gainXp.png')}}" alt="logo de l'app, 2 haltères + le nom" class="gainXp_logo">
        </div>
        <div class="login_register">
            <a href="{{ path('app_login') }}">Connexion</a> /
            <a href="{{ path('app_register') }}">Inscription</a>
        </div>
    </header>
</body>
</html>