.nav_logo {
    height: 2em;
}

.gainXp_logo {
    height: 7em;
}

.menu_nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dashboard,
.mes_seances,
.statistiques,
.badges_defis,
.profil_user {
    display: flex;
    align-items: center;
    gap: 1em;
}